Repository near/NEPs, pull requests merged in 2022-11, with the labels that each got.

#422 Update NEP-366 according to the discussion
  README.md
  neps/assets/nep-0366/NEP-DelegateAction.png
  neps/nep-0366.md
Labels: NEP-Extension

#427 Update nep-0001.md
  neps/nep-0001.md
Labels: A-NEP-Extension

#400 Clarify reference and draft implementation
  neps/nep-0001.md
Labels: documentation, WG-unknown

#276 feat(NFT): Add option types and add missing memo parameter
  neps/nep-0199.md
  specs/Standards/Tokens/NonFungibleToken/Payout.md
Labels: WG-contract-standards, S-voting/final-comment-period, A-NEP-Extension

#167 Chunk and block producer selection
  specs/ChainSpec/SelectingBlockProducers.md
  specs/Economics/README.md
Labels: WG-protocol, S-approved, A-NEP

#187 Update ApprovalManagement.md
  specs/Standards/Tokens/NonFungibleToken/ApprovalManagement.md
Labels: documentation, WG-contract-standards

#434 fix: Fixed the example provided in the NFT Motivation section
  specs/Standards/Tokens/NonFungibleToken/Core.md
Labels: WG-contract-standards, A-NEP-GrammarFix

#366 NEP-366: Meta transactions
  README.md
  neps/assets/nep-0366/NEP-DelegateAction.png
  neps/nep-0366.md
  specs/RuntimeSpec/Receipts.md
Labels: T-runtime, WG-protocol, S-voting/final-comment-period, A-NEP
