Repository near/NEPs, pull requests merged in 2023-03, with the labels that each got.

#465 doc: Fix confusing use of the phrase "subject matter experts"
  neps/nep-0001.md
Labels: documentation, A-Housekeeping

#423 add contract_metadata_update event
  neps/nep-0171.md
  specs/Standards/Tokens/NonFungibleToken/Event.md
Labels: WG-contract-standards, S-approved, A-NEP-Extension

#468 fix: Fixed the link to the NEAR Economics paper
  specs/Proposals/0033-economics.md
Labels: bug, WG-unknown, A-NEP-GrammarFix

#467 Update template to reflect NEP-0001
  nep-0000-template.md
Labels: WG-unknown, A-Housekeeping

#466 Updates to NEP-0001
  neps/nep-0001.md
Labels: WG-unknown, S-draft/needs-moderator-review, A-NEP-Extension

#399 Flat Storage
  README.md
  neps/nep-0399.md
Labels: WG-protocol, S-approved, A-NEP

#455 NEP-455: Parameter Compute Costs
  README.md
  neps/nep-0455.md
Labels: WG-protocol, S-approved, A-NEP

#471 docs(template): move alternatives down
  nep-0000-template.md
Labels: documentation, WG-unknown, A-Housekeeping
