Repository near/NEPs, pull requests merged in 2023-01, with the labels that each got.

#444 Remove specs/Economics/README.md
  specs/BlockchainLayer/EpochManager/EpochManager.md
  specs/Economics/Economic.md
  specs/Economics/README.md
  specs/GenesisConfig/GenesisConfig.md
  specs/README.md
  specs/RuntimeSpec/ApplyingChunk.md
Labels: WG-protocol, S-review/needs-author-revision, A-Nomicon-Changes

#445 Update SelecitonBlockProducers.md to be up to date
  specs/ChainSpec/SelectingBlockProducers.md
Labels: WG-protocol, S-approved, A-Nomicon-Changes

#351 feat: add `standards` key to `ContractSourceMetadata`
  neps/nep-0330.md
  specs/Standards/SourceMetadata.md
Labels: WG-contract-standards, S-approved, A-NEP-Extension

#418 Proposal to allow attached_deposit in view contexts
  neps/nep-0418.md
Labels: S-approved, A-NEP, WG-Tools
